body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    line-height: 1.8em;
}

header {
    background-color: #0f1114;
    display: flex;
    justify-content: center;
}

.player-form {
    margin-left: 25px;
}

.name-label {
    padding: 5px;
    margin: 5px;
}

.name-input {
    padding: 10px;
    margin: 5px;
    font-family: 'Fjalla One', sans-serif;
}

.player-submit {
    padding: 10px;
    background-color: #2d2da0;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    border: none;
    margin: 5px;
}

.waiting {
    padding: 15px;
    font-size: 28px;
    text-align: center;
    color: #dc0505;
}

.scores {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border-bottom: solid 2px #4444f2;
}

.scores-header {
    text-align: center;
    font-size: 28px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-weight: bold;
    background-color: #242480;
    color: white;
    padding: 5px;
}

.player1-score {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 5px;
}

.player2-score {
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding: 5px;
}

.tie {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 5px;
    border-right: dotted 2px #4444f2;
    border-left: dotted 2px #4444f2;
}

.player-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px auto 400px;
    padding-top: 30px;
}

.rps-choice {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.rps-button {
    width: 100px;
    margin: 25px;

}

.results-box {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: auto;
    width: 80%;
    margin: 20px;
}

.chatbox {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: auto;
    width: 80%;
    margin: 20px;
}

.chatview {
    display: block;
    height: 100px;
    border: 1px solid gray;
    font-size: 12px;
    line-height: 14px;
    overflow: auto;
}

.chat-input {
    padding: 5px;
    margin: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    line-height: 16px;
    width: 75%
}

#watcher {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 25px;
}

#chat-submit {
    padding: 5px;
    background-color: #2d2da0;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    border: none;
    margin: 5px;
}

.announcement {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 26px;
    color: #dc0505;
    margin: 15px;
}

.timer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 40px;
}

.timer-text {
    display: flex;
    justify-content: center;
}

.countdown {
    font-size: 100px;
}

.times-up {
    font-size: 60px;
    color: #dc0505;
}